.column_product_widget_container {
margin-left: 20px;
}
.mbssellwidget-productcard-container,
.mbssellwidget-columnpanel-container {
    display: block;
    overflow: hidden;
    background: #fff;
    border: 2px solid #5d5e5f;
    padding: 20px;
    max-width: 590px;
    margin: 0 auto;
    box-sizing: content-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    font-weight: normal;
    color: #282828;
    text-align: left
}

.mbssellwidget-productcard-covercontainer {
    display: block;
    overflow: hidden;
    width: 35%;
    max-width: 185px;
    float: left;
    overflow: hidden;
    margin: 0 30px 0 0
}

.mbssellwidget-productcard-covercontainer img {
    width: 100%;
    margin: 0
}

@media screen and (max-width:500px) {
    .mbssellwidget-productcard-covercontainer {
        float: none;
        width: 100%;
        max-width: none
    }
}

.mbssellwidget-productcard-authorcontainer {
    display: block;
    overflow: hidden;
    margin-bottom: 20px
}

.mbssellwidget-productcard-authorcontainer .mbssellwidget-productcard-authorimage {
    display: block;
    overflow: hidden;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px
}

.mbssellwidget-productcard-authorcontainer .mbssellwidget-productcard-authorimage img {
    width: 100%
}

.mbssellwidget-productcard-authorcontainer .mbssellwidget-productcard-authorname {
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.mbssellwidget-productcard-bookcontainer {
    display: block;
    overflow: hidden
}

.mbssellwidget-productcard-bookcontainer .mbssellwidget-productcard-booktitle {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600
}

.mbssellwidget-productcard-bookcontainer .mbssellwidget-productcard-bookdesc {
    font-size: .85em;
    line-height: 1.5em;
    color: #727577;
}

.mbssellwidget-productcard-bookcontainer .mbssellwidget-productcard-bookprice {
    margin-top: 10px;
    margin-bottom: 20px
}

.mbssellwidget-productcard-bookcontainer .mbssellwidget-productcard-bookprice .mbssellwidget-productcard-bookprice-binding {
    display: inline;
    font-size: .8em;
    text-transform: uppercase;
    color: #727577
}

.mbssellwidget-sellbutton {
    display: inline-block;
    background: #4169E1;
    color: #fff;
    border: 0 solid #4169E1;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer
}

.mbssellwidget-sellbutton:hover {
    background: #4169E1;
    border: 0 solid #4169E1;
    border-color: #4169E1;
    color: #fff;
    text-decoration: none
}

.mbssellwidget-columnpanel-container {
    max-width: 240px
}

@media screen and (max-width:500px) {
    .mbssellwidget-columnpanel-container {
        max-width: none
    }
}

.mbssellwidget-columnpanel-covercontainer {
    display: block;
    overflow: hidden;
    overflow: hidden;
    margin: 0 0 20px 0;
    width: 100%
}

.mbssellwidget-columnpanel-covercontainer img {
    width: 100%;
    max-height: 340px;
    margin: 0
}

/* @media only screen and (max-width:768px) {
    .mbssellwidget-columnpanel-covercontainer img {
        max-height: 220px;
    }
} */